<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/lindodibunito.css">
    <title>brog da galera </title>
</head>
<body>
    <head>
        <div class="navbar">
            <h1>SUPER BLOG TOP</h1>
            <a href="http://191.52.55.92/projeto-adamo/">Home</a>
            <a href="sobre.html">Sobre a Empresa</a>
            <a href="localização.html">Localização</a>
            <a href="sobre.html">Fale Conosco</a>
            <a href="faq.html">FAQ</a>
        </div>
    </head>


    <main>
        <article><h1>Fale conosco</h1></article>
        <article><h3>Email ou Suporte Online</h3></article>
        <div class="container">
            <article class="block-localizacao-faleconosco">
                <section class="divflex">
                    <h2>Suporte a Ajuda</h2>
                        <input placeholder="Nome" type="text">
                        <input type="email  " placeholder="Email">
                        <input placeholder="Motivo a Contatação" type="text">
                        <input type="numeral" placeholder="CEP">
                        <h1>Ou tente pelo QR <code></code></h1>
                        <img src="images/Untitled.png" class="rickroll" alt="">
                        <h1>Ou tente Pelo Email da empresa</h1>
                        <h3>acme.empresa@gmail.com</h3> 
                        <button class="botaosao"><p>Enviar reclamação</p></button>
                </section>
            </article>
        </div>
    </main>
    <footer>&#169 SG 0061-2242</footer>
</body>
</html>