<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/stylefaq.css">
    <style>
    a {
        color: white;
        text-decoration: none;
        padding: 10px;
    }
    h1 {
        margin: 0;
        color: white;
    }
    .artigos {
        color: white;
    }
    .topo {
        text-align: center;
    }
    header{
        text-align: center;
    }
    footer {
        text-align: center;
    }
    </style>
    <title>SUPER BLOG TOP</title>
</head>
<body>
    <header>
        <h1>SUPER BLOG TOP</h1>
        <div class="nav">
            <a href="http://191.52.55.92/projeto-adamo/">Home</a>
            <a href="../components/noticias.html">Noticias</a>
            <a href="sobreempresa.html">Sobre a Empresa</a>
            <a href="../components/localização.html">Localização</a>
            <a href="../components/faq.html">Fale Conosco</a>
        </div>
    </header>
    <main>
        <div class="topo">
            <h2>Sobre o Nosso Blog</h2>
            <p>Nosso Blog nasceu em 2023, com os desenvolvedores Gabriela Soares e Felipe Kuhl oi</p>
        </div>
        <div class="artigos">
            <article class="artigo">
                <h3>PESSOA 1</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta suscipit nihil dolor id iusto, perspiciatis veritatis tempora, cum saepe, ex amet ducimus porro atque ut voluptatem est animi. Quisquam, iure?</p>
            </article>
            <article class="artigo">
                <h3>PESSOA 2</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta suscipit nihil dolor id iusto, perspiciatis veritatis tempora, cum saepe, ex amet ducimus porro atque ut voluptatem est animi. Quisquam, iure?</p>
            </article>
        </div>
    </main>
    <footer>
        <p>&#169 SG 0061-2242</p>
    </footer>
</body>
</html>